In [28]:
import pandas as pd

# read output/data/products_superseis.csv and replace all commas with dots without pandas and if it's not the first line
# then replace all ~|~ with commas
with open('output/data/products_superseis.csv', 'r') as f:
    lines = f.readlines()
    lines = [line.replace(',', '.') if i != 0 else line for i, line in enumerate(lines)]
with open('output/data/products_superseis.csv', 'w') as f:
    f.writelines(lines)

with open('output/data/products_superseis.csv', 'r') as f:
    data = f.read()
    data = data.replace(' ~|~ ', ',')
    with open('output/data/products_superseis.csv', 'w') as f2:
        f2.write(data)

In [29]:
# read output/data/products_superseis.csv
df = pd.read_csv('output/data/products_superseis.csv', sep=',')

df.head()

,name,price,category,product_url,image_url
0,ACEITE DE OLIVA COCINERO 250 ML,23.000,Aceites,https://www.superseis.com.py/products/337370-a...,https://www.superseis.com.py/images/thumbs/025...
1,ACEITE DE OLIVA COCINERO 1LITRO,83.800,Aceites,https://www.superseis.com.py/products/337371-a...,https://www.superseis.com.py/images/thumbs/025...
2,ACEITE DE OLIVA EXTRA VIRGEN X1LT EXCELLENT BOT,98.000,Aceites,https://www.superseis.com.py/products/134688-a...,https://www.superseis.com.py/images/thumbs/025...
3,ACEITE DE OLIVA EXTRA VIRGEN X500ML EXCELLENT BOT,64.000,Aceites,https://www.superseis.com.py/products/138374-a...,https://www.superseis.com.py/images/thumbs/025...
4,ACEITE BORGES OLIVA BOTELLA 125ML,16.050,Aceites,https://www.superseis.com.py/products/25369-ac...,https://www.superseis.com.py/images/thumbs/025...

In [30]:
size_dup = len(df[df.duplicated()])
size = len(df)

# drop duplicated rows
df.drop_duplicates(inplace=True)
# reset index
df.reset_index(drop=True, inplace=True)

assert(len(df) == size - size_dup)
print('Duplicated rows: {}'.format(size_dup))
print('Total rows: {}'.format(size))
print('Unique rows: {}'.format(len(df)))

Duplicated rows: 46
Total rows: 14822
Unique rows: 14776

In [31]:
#pop all except the first number found
# df["price"][1].split('  ')
for i in range(len(df)):
    df["price"][i] = df["price"][i].replace(' â‚². ','').replace('.','')
    df["price"][i] = df["price"][i].split('  ')[1]

# add the column "supermarket" with the value "superseis"
df["supermarket"] = "superseis"

# drop column "category"
df.drop(columns=['category'], inplace=True)

# reset index
df.reset_index(drop=True, inplace=True)

In [32]:
# Turn all the columns and rows to lowercase
df.columns = map(str.lower, df.columns)
df = df.applymap(lambda s:s.lower() if type(s) == str else s)

/var/folders/ll/wc1k6sts3y34c45g4nh0h36r0000gn/T/ipykernel_40685/1312036629.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda s:s.lower() if type(s) == str else s)

In [33]:
print('Saving output/data/clean/products_superseis_clean.csv')
df.to_csv('output/data/clean/products_superseis.csv', index=False)

Saving output/data/clean/products_superseis_clean.csv